.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /*Centerslidetextvertically*/
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 450ms;
  border-radius: 10px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: white;
  transition: all 450ms;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.2);
  transition: all 450ms;
}

.swiper-wrapper:hover .swiper-slide {
  opacity: 0.3 !important;
}

.swiper-wrapper:hover .swiper-slide:hover {
  transform: scale(1.1);
  transition: all 450ms;
  opacity: 1 !important;
}
